---
import {Content as TourContent} from '../content/Tour.md';
import Logo from '../components/Logo.astro';
import '../styles/global.css';
import '../styles/home.css';
import ReactCounter from '../components/ReactCounter.jsx';
import Code from '../components/Code.jsx';
import Chapters from '../components/Chapters.jsx';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Especificações';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
	
	</style>
	<style is:global>
		pre {
			padding: 1rem;
		}
	</style>
</head>
<body>
    <div class="temp__warning">
		Esta documentação está em desenvolvimento.<a href="#"> Para mais detalhes clique aqui!</a>
	</div>
	<header>
		<div class="menu__small__screen">
			<span class="hamburger"></span>
			<!--<a href="#">HTML e CSS</a>-->
		</div>
		<nav class="navbar">
			<ul class="menu">
				<div class="menu__left">
					<li><a href="#">HTML e CSS</a></li>
				</div>
				<div class="menu__right">
					<li><a href="#">Documentação</a></li>
					<li><a href="#">Ajuda</a></li>
					<li><a href="#">GitHub</a></li>
					<li>
					<a href="#">
						Dark/light
					</a>
					</li>
					<li><a href="#">searching</a></li>
				</div>
			</ul>
		</nav>
	</header>
	<main>
	  <div class="chapter">
		<!--<Chapters />-->
	  </div>
	  <div class="content">
	  
	  </div>
	  <div class="chapter__right">

	  </div>
	</main>
</body>
</html>
